div.container
  div.hero-unit
    h1 Hello, InsTalks !
    br
    br
    a.btn.btn-large.btn-primary(href="/r/start")="とりあえず試してみる"

  h1 なにこれ?
  h3 ログインがいらないリアルタイムメッセージサービスです。URLごとにチャットルームが生成されます。話したい相手にURLを教えるだけ。
  br
  br
  h1 技術的には
  h3 node.js + socket.io + coffee-script + redis + etc...
  br
  br
  h1 問い合わせ
  a(href="https://twitter.com/#!/fukayatsu") @fukayatsu
